# 레모네이트 판매 예측
1. 라이브러리 사용
2. 데이터 준비합니다.
3. 모델을 만듭니다.
4. 모델을 학습합니다.
5. 모델을 이용합니다. 

## Resources
* https://www.youtube.com/watch?v=fmgcGETysRo
* https://github.com/blackdew/tensorflow1/blob/master/practice2-lemonade.ipynb

In [8]:
# 1. 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [9]:
# 2. 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레모네이드 = pd.read_csv(파일경로)
레모네이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [10]:
# 종속변수, 독립변수
독립 = 레모네이드[['온도']]
종속 = 레모네이드[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [11]:
# 3. 모델을 만듭니다.
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [12]:
# 4. 모델을 학습시킵니다. 
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 6ms/step - loss: 0.0021
Epoch 2/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0021
Epoch 3/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0021
Epoch 4/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0021
Epoch 5/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0021
Epoch 6/10
1/1 [==============================] - 0s 3ms/step - loss: 0.0021
Epoch 7/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0021
Epoch 8/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0021
Epoch 9/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0021
Epoch 10/10
1/1 [==============================] - 0s 2ms/step - loss: 0.0021

In [13]:
# 모델을 이용합니다. 
print(model.predict(독립))
print(model.predict([[15]]))

[[40.077984]
 [42.052757]
 [44.027534]
 [46.00231 ]
 [47.97709 ]
 [49.951866]]
[[30.204098]]

In [14]:
종속

   판매량
0   40
1   42
2   44
3   46
4   48
5   50