# 표를 다루는 도구 '판다스' 활용
1. 파일로부터 데이터 읽어오기
2. 데이터의 모양확인
3. 데이터 칼럼이름 확인
4. 독립변수와 종속변수 분리
    - 원인 (독립변수) => 결과 (종속변수)
5. 각각 데이터 확인해보기

## Resources
*

In [86]:
# 1. 파일로부터 데이터 읽어오기

import os
import pandas as pd

# csvFilePath = str(os.path.abspath('')) + '\\csv\\lemonade.csv'
csvFilePath = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonadeData = pd.read_csv(csvFilePath)

# csvFilePath = str(os.path.abspath('')) + '\\csv\\boston.csv'
csvFilePath = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
bostonData = pd.read_csv(csvFilePath)

# csvFilePath = str(os.path.abspath('')) + '\\csv\\iris.csv'
csvFilePath = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
irisData = pd.read_csv(csvFilePath)

In [87]:
# 2. 데이터 모양 확인
print(lemonadeData.shape)
print(bostonData.shape)
print(irisData.shape)

(6, 2)
(506, 14)
(150, 5)

In [88]:
# 3. 데이터 칼럼이름 확인
print(lemonadeData.columns)
print(bostonData.columns)
print(irisData.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [89]:
# 4. 독립변수와 종속변수 분리
indepVar = lemonadeData[['온도']]
depVar = lemonadeData[['판매량']]
print(indepVar.head())
print(depVar.head())
print('\n')

indepVar = bostonData.copy().drop('medv', axis=1)
depVar = bostonData[['medv']]
print(indepVar.head())
print(depVar.head())
print('\n')

indepVar = irisData.copy().drop('품종', axis=1)
depVar = irisData[['품종']]
print(indepVar.head())
print(depVar.head())
print('\n')

   온도
0  20
1  21
2  22
3  23
4  24
   판매량
0   40
1   42
2   44
3   46
4   48


      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat
0  396.90   4.98
1  396.90   9.14
2  392.83   4.03
3  394.63   2.94
4  396.90   5.33
   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2


   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭
0   5.1  3.5    1.4   0.2
1   4.9  3.0    1.4   0.2
2   4.7  3.2    1.3   0.2
3   4.6  3.1    1.5   0.2
4   5.0  3.6    1.4   0.2
       품종
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [90]:
# 5. 각각 데이터 확인해보기
lemonadeData.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [91]:
bostonData.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [92]:
irisData.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa